<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="todos">
      <h1>To Do List</h1>
      <% if(todos.length > 0) { %>
        <ul>
        <% todos.forEach(function(todo){ %>
            <li>
              <%= todo.todo %> - <%= todo.done ? 'Done' : 'Not Done' %>
              <form method="POST" action="/<%= todo.id %>?_method=DELETE">
                <button type="submit">DELETE</button>
              </form>
              <% }); %>
            </li>
        </ul>
      <% } else { %>
        <h3>There are no To Dos yet!</h3>
      <% }; %>
    </div>
    <hr>
    <div class="add-todo">
      <form id="add-todo-form" method="POST" action="/new">
        <textarea name="todo" cols="50" rows="2"></textarea>
        <button type="submit">ADD TO DO</button>
      </form>
    </div>
    
  </body>
</html>
